---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bolt" proxy={false}>
	<div id="bg">
		<iframe src="./src/bg" frameborder="0"></iframe>
	</div>

	<div id="container"></div>
	<script src="../scripts/auth.ts"></script>
</Layout>
